nav{
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 10vh;
    background-color: #0437F2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 75px;
}

h2{
    height: -2vh;
}


nav ul li{
    list-style: none;
    display: inline-block;
    height: 7vh;
    padding: 13px;
    cursor: pointer;
    font-size: 16px;
}

nav ul li:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.btn{
    background-color: #FFF;
    color: #212121;
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: #FFFDD0;
    color: black;
    transition: 0.4s;
    
}

.menu-icon{
    display: none;
}

/* ------media query------- */

@media (max-width: 775px){
    h2{
        width: 10px;
        margin-top: 3px;
        margin-right: 1px;
    }

    nav ul li{
        margin-top: -5px;
        margin-left: 1px;
    } 

    .btn{
        padding: 7px 11px;
        font-size: 12px;
    }
}

@media (max-width: 688px){
    nav{
        padding: 15px 0;
    }

    nav ul{
        position: fixed;
        top: -6px;
        right: 0;
        bottom: -40px;
        background-color: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 50px;
        transition: 0.5s; 
    }

    .btn{
        padding: 8px 12px;
        font-size: 11px;
    }

     nav ul li{
        display: block;
        margin: 15px -16px;
     }

    nav h2{
        position: fixed;
        left: 30px;
     } 

     .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        margin-right: -490px;
     }

     .hide-menu{
        right: -200px;
     }
}

@media (max-width: 558px){
    .menu-icon{
        margin-right: -410px;
     }
}

@media (max-width: 480px){
    .menu-icon{
        margin-right: -300px;
     }
}